APP_BASE_URL=http://localhost:3000
TRUST_PROXY=false
ADMIN_USERNAME=admin
ADMIN_PASSWORD=replace-with-a-long-random-password-or-something
SESSION_SECRET=replace-with-a-really-long-character-random-secret-for-max-security
SIGNUP_DISABLED=false
INVITE_CODE=replace-with-your-unique-invite-code
MAX_UPLOAD_MB=20
UC_COMMS_URL=https://comms.vee-anti.gay
VITE_UC_COMMS_API_URL=https://comms.vee-anti.gay
